<a href="https://colab.research.google.com/github/JeongSuHwan23/study_Data-Analysis/blob/master/0827_2214_%EC%A0%95%EC%88%98%ED%99%98_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from os import truncate
members = {'urkpo': '0928^7$',
           'xxayv': '%2*9$91',
           'lsqvx': '!0%)&&4',
           'heums': '%@3^0%3',
           'uwcmc': '85236(&',
           'iemwv': ')8!36^&',
           'sqblx': ')^2)9!(',
           'jbbpy': '67269*3',
           'hjkwu': '$&@@#64',
           'fvwwy': '82$%)31'}

ID : juliahn
아이디를 다시 입력하세요
ID : fvwwy
아이디 확인완료
PW : abc
비밀번호를 다시 입력하세요
PW : 82$%)31
로그인 성공

In [ ]:
import pandas as pd
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/BasicOld.aspx'
tables = pd.read_html( url )
tables[0].to_excel("KBO_타자기록.xlsx")
df = pd.DataFrame( tables[0] )
print( df )

    순위    선수명   팀명    AVG    G   PA   AB    H  2B  3B  HR  RBI  SB  CS  BB  \
0    1   에레디아  SSG  0.356  113  490  449  160  24   1  14   95   4   3  23
1    2   레이예스   롯데  0.351  115  503  461  162  31   2  14   89   4   0  34
2    3    박건우   NC  0.344   89  362  323  111  23   1  13   53   4   0  33
3    4    송성문   키움  0.343  118  490  428  147  21   3  16   89  16   0  51
4    5    김도영  KIA  0.342  119  527  459  157  26   6  32   91  35   4  58
5    6    박민우   NC  0.337   98  437  377  127  25   2   5   38  29   6  47
6    7    김혜성   키움  0.337  105  468  419  141  23   4  11   67  26   6  40
7    8     도슨   키움  0.330   95  429  382  126  31   2  11   57   2   2  39
8    9    허경민   두산  0.330   99  417  367  121  26   0   7   57   5   0  30
9   10    로하스   KT  0.329  122  566  484  159  34   0  28   93   2   1  73
10  11    양의지   두산  0.318  104  425  380  121  15   0  15   85   2   0  32
11  12    구자욱   삼성  0.318  109  481  421  134  34   1  22   84  10   4  43
12  13    홍창기   LG  0.312  116  532  433  135  10   3   4   58  10  10  84
13  14    오스틴   LG  0.312  117  508  443  138  27   2  30  111  11   6  51
14  15    김지찬   삼성  0.311  118  463  392  122  15   0   3   27  33   3  49
15  16    강민호   삼성  0.307  119  402  355  109  15   1  17   72   3   0  35
16  17    고승민   롯데  0.307   91  402  362  111  22   3  11   66   4   2  34
17  18    김태연   한화  0.307  104  405  349  107  23   0  11   57   3   2  43
18  19  소크라테스  KIA  0.303  121  522  475  144  25   3  23   82  11   4  38
19  20    안치홍   한화  0.300  109  461  406  122  16   0  12   58   3   2  44
20  21    나승엽   롯데  0.300   92  370  310   93  28   4   5   48   0   0  50
21  22    전준우   롯데  0.297   80  356  316   94  21   1  14   63   3   1  32
22  23    박찬호  KIA  0.297  112  481  431  128  19   1   2   44  15  10  37
23  24    문보경   LG  0.295  120  495  427  126  30   3  15   74   6   6  53
24  25    김현수   LG  0.295  114  490  434  128  28   2   7   58   4   1  42
25  26    김선빈  KIA  0.294  100  401  361  106  17   0   8   46   4   1  29
26  27    신민재   LG  0.292  117  437  359  105  10   5   0   38  31   9  59
27  28    나성범  KIA  0.290   89  375  331   96  16   1  17   71   0   0  34
28  29   데이비슨   NC  0.290  106  462  407  118  16   0  37   95   0   1  35
29  30    윤동희   롯데  0.289  112  490  425  123  27   3  12   65   6   5  55

    HBP   SO  GDP   E
0    11   62   11   3
1     1   65   12   4
2     4   54    7   1
3     3   60    4  10
4     4  100    7  26
5     8   66    3   6
6     4   47    6  14
7     6   54   10   2
8    15   22    6   5
9     6   97   10   2
10    7   49   13   4
11   10   64    5   0
12   12   80    8  10
13    3   73    7   7
14    9   34    5   2
15    7   46   15   2
16    1   61    7   8
17    4   72    7   9
18    4   81    6   5
19    6   62    6   5
20    4   65    3   7
21    3   58    8   1
22    1   37    7  18
23    1   88   10  13
24    5   66    9   0
25    5   37   13  10
26    4   44    7  11
27    3   87    7   1
28   14  117   10  11
29    3   86    8   2